#links{
    border: solid 1px;
    height: 35px;
    background-color:aliceblue;

}
#text1,#text2,#text3,#text4,#text5{
    color: blue;
    font-size: 22px;
    text-decoration: dotted;
   
}
#text1{
    padding-left: 35px;
}
#text2{
    padding-left: 35px;
}
#text3{
    padding-left: 35px;
}
#text4{
    padding-left: 35px;
}
#text5{
    padding-left: 35px;
}
.out1{
    border: solid 2px black;
    height: 35px; width: 100xp;
    background-color: pink;
    display: flex;
}
#in1{
    border:solid 2px black;
    height: 35px;
}
#in1{
    width: 100px;
    height: 35px;
}
#in2{
    width:200px;
    height: 35px;
}
